<!DOCTYPE html>
<html>
  
  <head>
    <title>Mathe Tutorials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script language="JavaScript" type="text/javascript" src="/js/script.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/burgermenu.js"></script>
  </head>
  
  <body>
    <%- include('partials/header') %>

    <div  class="grid-container">
    <main>
      <% tutorials.forEach(tutorial => { %>
        <section>
          <dl>
            <figure>
              <img src="<%= tutorial.kategorien[0].bild.url %>" alt="<%= tutorial.kategorien[0].bild.name %>" height="75" width="75">
            </figure>
            <dt><strong><%= tutorial.name %></strong></dt>
            <dd>
              <p>
                Titel: <small><a href=" <%= tutorial.tutorialUrl + '/' + encodeURIComponent(tutorial.name) %> "><%= tutorial.name %></a></small><br>
                Datum: <small><%= tutorial.datum.toLocaleDateString() %></small><br>
                Dauer: <small><%= tutorial.kapitelliste.map(kap => kap.dauer).join(", ") %></small><br>
                Beschreibung: <small><%= tutorial.beschreibung %></small><br>
              </p>
            </dd>
          </dl>
        </section>
      <% }); %>
    </main>
      <%- include('partials/aside') %>

      <%- include('partials/footer') %>
  </div>
  </body>
  
</html>